In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings 
warnings.simplefilter('ignore')

In [3]:
df = pd.read_csv(r"E:\Data Science by SRK\Machine_learning\Classification\penguin_data\cleaned_dataset_penguin.csv")

In [4]:
df

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,island_Dream,island_Torgersen,gender_MALE
0,0,39.1,18.7,181.0,3750.0,False,True,True
1,0,39.5,17.4,186.0,3800.0,False,True,False
2,0,40.3,18.0,195.0,3250.0,False,True,False
3,0,36.7,19.3,193.0,3450.0,False,True,False
4,0,39.3,20.6,190.0,3650.0,False,True,True
...,...,...,...,...,...,...,...,...
329,2,47.2,13.7,214.0,4925.0,False,False,False
330,2,46.8,14.3,215.0,4850.0,False,False,False
331,2,50.4,15.7,222.0,5750.0,False,False,True
332,2,45.2,14.8,212.0,5200.0,False,False,False
333,2,49.9,16.1,213.0,5400.0,False,False,True

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    int64
 1   culmen_length_mm   334 non-null    float64
 2   culmen_depth_mm    334 non-null    float64
 3   flipper_length_mm  334 non-null    float64
 4   body_mass_g        334 non-null    float64
 5   island_Dream       334 non-null    bool
 6   island_Torgersen   334 non-null    bool
 7   gender_MALE        334 non-null    bool
dtypes: bool(3), float64(4), int64(1)
memory usage: 14.2 KB

In [6]:
df.isnull().sum()

species              0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
island_Dream         0
island_Torgersen     0
gender_MALE          0
dtype: int64

# X and y

In [7]:
X = df.drop(columns = ['species'])
y = df['species']

# Train_test_split

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state= True)

# ADABOOST
**Applying Hyperparameter Tuning for identifying best parameters for adaboost**

In [9]:
from sklearn.model_selection import GridSearchCV

# modelling

from sklearn.ensemble import AdaBoostClassifier
estimator_ab = AdaBoostClassifier()

# parameters grid
param_grid_ab = {"n_estimators" : list(range(1,100))}

# grid search
grid_ab = GridSearchCV(estimator_ab, param_grid_ab, cv = 5, scoring = 'accuracy')
grid_ab.fit(X_train, y_train)

# best parameters for adaboost model
grid_ab.best_params_

{'n_estimators': 6}

# ADA Boost model important features

In [10]:
feats_ab = pd.DataFrame(data = grid_ab.best_estimator_.feature_importances_,
                       index = X.columns, 
                       columns = ['Importance'])
imp_features_list_ab = feats_ab[feats_ab['Importance']>0].index.to_list()
imp_features_list_ab

['culmen_depth_mm', 'flipper_length_mm', 'body_mass_g']

# ADABoost Classifier

**with imortant features and best hyperparameters**

In [11]:
# important input variables
X_imp = X[imp_features_list_ab]

# train test split
X_train_ab, X_test_ab, y_train_ab, y_test_ab = train_test_split(X_imp, y, test_size = 0.2, random_state = True)

# modelling
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier(n_estimators= 6)
ada.fit(X_train_ab, y_train_ab)

# Evaluation on train data
ypred_train_ab = ada.predict(X_train_ab)

from sklearn.metrics import accuracy_score
print("Train_accuracy : ", accuracy_score(y_train_ab, ypred_train_ab))

# cross validation
from sklearn.model_selection import cross_val_score
print("cross_val_score : ", cross_val_score(ada, X_train_ab, y_train_ab, cv = 5).mean())

# Evaluation
ypred_test_ab = ada.predict(X_test_ab)
print("Test_accuracy : ", accuracy_score(y_test_ab, ypred_test_ab))

Train_accuracy :  0.8202247191011236
cross_val_score :  0.7976939203354299
Test_accuracy :  0.746268656716418