In [14]:
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter('ignore')

In [15]:
df = pd.read_csv(r"E:\Data Science by SRK\Machine_learning\Classification\penguin_data\cleaned_dataset_penguin.csv")

In [16]:
df

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,island_Dream,island_Torgersen,gender_MALE
0,0,39.1,18.7,181.0,3750.0,False,True,True
1,0,39.5,17.4,186.0,3800.0,False,True,False
2,0,40.3,18.0,195.0,3250.0,False,True,False
3,0,36.7,19.3,193.0,3450.0,False,True,False
4,0,39.3,20.6,190.0,3650.0,False,True,True
...,...,...,...,...,...,...,...,...
329,2,47.2,13.7,214.0,4925.0,False,False,False
330,2,46.8,14.3,215.0,4850.0,False,False,False
331,2,50.4,15.7,222.0,5750.0,False,False,True
332,2,45.2,14.8,212.0,5200.0,False,False,False
333,2,49.9,16.1,213.0,5400.0,False,False,True

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    int64
 1   culmen_length_mm   334 non-null    float64
 2   culmen_depth_mm    334 non-null    float64
 3   flipper_length_mm  334 non-null    float64
 4   body_mass_g        334 non-null    float64
 5   island_Dream       334 non-null    bool
 6   island_Torgersen   334 non-null    bool
 7   gender_MALE        334 non-null    bool
dtypes: bool(3), float64(4), int64(1)
memory usage: 14.2 KB

In [18]:
df.isnull().sum()

species              0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
island_Dream         0
island_Torgersen     0
gender_MALE          0
dtype: int64

# X & y

In [19]:
X = df.drop(columns = ['species'])
y = df['species']

# Train_Test_split

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = True)

# Scaling data

In [21]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train.iloc[:, 1 : 5] = scaler.fit_transform(X_train.iloc[:, 1 : 5])
X_test.iloc[:, 1 : 5] = scaler.transform(X_test.iloc[:, 1 : 5])

# Hyper parameter tuning for KNN Classifier

In [22]:
from sklearn.neighbors import KNeighborsClassifier
estimator = KNeighborsClassifier()
param_grid = {'n_neighbors' : list(range(1,100))}

from sklearn.model_selection import GridSearchCV
cv_classifier = GridSearchCV(estimator, param_grid, cv = 5, scoring = 'accuracy')

cv_classifier.fit(X_train, y_train)

cv_classifier.best_params_

{'n_neighbors': 1}

# KNN Model With Best Hyper parameters

In [23]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(X_train, y_train)

#prediction
ypred_train = knn.predict(X_train)
ypred_test = knn.predict(X_test)

#Evaluation
from sklearn.metrics import accuracy_score
print("Train accuracy : ", accuracy_score(y_train, ypred_train))
print("Test accuracy : ", accuracy_score(y_test, ypred_test))

from sklearn.model_selection import cross_val_score
print("Cross_val_score : ", cross_val_score(knn, X, y, cv= 5).mean())

Train accuracy :  1.0
Test accuracy :  1.0
Cross_val_score :  0.8535504296698327

# Confusion metrics

In [24]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, ypred_test)

array([[28,  0,  0],
       [ 0, 17,  0],
       [ 0,  0, 22]], dtype=int64)

In [25]:
from sklearn.metrics import classification_report
print(classification_report(y_test, ypred_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        28
           1       1.00      1.00      1.00        17
           2       1.00      1.00      1.00        22

    accuracy                           1.00        67
   macro avg       1.00      1.00      1.00        67
weighted avg       1.00      1.00      1.00        67

# Prediction new data

# use KNN Model to predict new data